<div class="dashboard-container active" id="dashboard-container-1">
  <p>Locations des gens</p>
  <% @people_rentings.each do |people_renting| %>
    <p>Réservation du <%= people_renting.boat.title %> du <%= people_renting.start_date %> au <%= people_renting.end_date %></p>
  <% end %>
</div>
