<div class="container" id="dashboard">
  <div class="tabs">
    <button class="tab" id="dashboard-btn-renter">Mes locations</button>
    <button class="tab active" id="dashboard-btn-owner">Mes demandes de réservation</button>
    <button class="tab" id="dashboard-btn-boats">Mes bateaux</button>
  </div>
  <div id="dashboard-content">
    <%= render partial: "owner_bookings" %>
    <%= render partial: "renter_bookings" %>
    <%= render partial: "my_boats" %>
  </div>
</div>
