.bookings {
  color:#0E0000;
  h3 {
    font-size:1.25rem;
  }
  h4 {
    font-size:1.125rem;
  }
}

.booking-options {
  a.booking-option, p {
  margin:0 16px;
  padding:4px 8px;
  border-radius:4px;
  border:1px solid transparent;
  }

  a.booking-option.validated {
    background-color:$green;
    color:white;
    &:hover {
      color:$green;
      background-color:white;
      border:1px solid $green;
    }
  }

  a.booking-option.refused {
  background-color:$red;
  color:white;
    &:hover {
      color:$red;
      background-color:white;
      border:1px solid $red;
    }
  }
}

