.container-boat-show {
	background: white;
}


.brick1 {
  margin-top: 30px;
	margin-left: 80px;

	p {
		padding-top: 20px;
		text-align: justify;
	}
}

.brick2 {
	margin-top: 20px;
	background: pink;
	margin-right: 10px;
}

.img-boat {
height: 400px;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
// 	background: blue;
}

.boat-name h2 {
	font-size: 26px;
}


.boat-category-adress {
	display: flex;
	justify-content: flex-start;
	align-item: start-flex;
}

.boat-category-adress .category {
	margin-left: 30px;
}

.info-owner p {
	margin: 0px;
	padding: 0px
}

.info-owner .comment {
	opacity: 0.7;
}


