.container-boat-show {
	background: white;
}


.brick1 {
  margin-top: 30px;
	margin-left: 50px;

	p {
		padding-top: 20px;
		text-align: justify;
	}
}


.brick2 {
	margin-top: 20px;
	background: white;
	margin-right: 50px;
}

.img-boat {
height: 400px;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

.boat-name h2 {
	font-size: 26px;
}


.boat-category-adress {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.boat-category-adress .category {
	margin-left: 30px;
}

.separation {
	margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #A2ABB5;
    flex-direction: column;
    justify-content: flex-end;
}

.identity {
	margin-top: 20px;
	font-size: 16px;
	}

.comment {
	margin-bottom: 20px;
	font-size: 14px;
	opacity: 0.7;
	margin-left:45px;
	}

.formulaire-reservation {
	margin-top: 20px;
}

.btn-show {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #28527a;
  transition: background 0.3s ease;
  text-decoration: none;
  font-size: 18px;
}

.btn-show:hover {
  background: #005F73;
  color: white;
}

.card-boat-pricing-show {
	font-size: 20px;
	font-weight: bolt;

	span:not(#price-unit) {
	font-size: 16px;
  font-weight: lighter;
  opacity: .8;
  margin: 0;
	}
}


.btn-show-continue {
  padding: 8px 24px;
  color: #28527a;
  margin-top: 20px;
  text-decoration: none;
  border: solid 1px #28527a;
  border-radius: 4px;
  width: 248px;
  background: white;
}

.btn-show-continue:hover {
  color: #005F73;
}
