.booking-card {
  margin:16px;
  padding:0 16px 0 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background-color:white;
  border-radius:5px;
  display:flex;
  justify-content:space-between;
  position:relative;
}

.booking-avatar {
  position:absolute;
  top:8px;
  left:0;
}

.booking-avatar .avatar {
  border:1px solid white;
}

.avatar-label {
  background-color:white;
  padding:4px;
  display:none;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

.owner {
  font-size:1.25em;
}

.booking-info {
  margin:16px 16px 16px 24px;
  flex-grow:2;
  color:rgba(0, 0, 0, 0.9);
}

.status {
  margin:0;
  position:absolute;
  bottom:0;
  right:0;
}

.price-renter {
  padding-left: 20px;
}

.card-boat-pricing {
  position:absolute;
  bottom:0;
  margin-bottom:0;
}

.other-bookings .booking-card {
  opacity:0.5;
}


@media (max-width: 800px) {
  .booking-card {
    flex-direction:column;
    padding:0;
  }

  .booking-card .booking-img > img:first-child {
    width:100%;
    height:auto;
  }

  .booking-info {
    margin:12px;
    min-height:170px;
    line-height:1.25;
  }
}
