.booking.card {
  margin:16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-color:white;
  border:1px solid  rgba(0,0,0,0.7);
  border-radius:5px;
  display:flex;
  // * {
  //   width:fit-content;
  //   margin:4px 0;
  // }
}

.owner {
  font-size:1.25em;
}

.price {
  color:$red;
  font-size:1.5em;
  font-weight:bold;
}

.dates {
  font-size:1.25em;
  color:$blue;
}

.booking.card.resa-img {
display: grid;
}
