.booking.card {
  margin:16px;
  padding:12px 16px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
  border:1px solid  rgba(0,0,0,0.7);
  border-radius:8px;
  display:flex;
  justify-content:center;
  flex-direction: column;
  * {
    width:fit-content;
    margin:4px 0;
  }
}

.owner {
  font-size:1.25em;
}

.price {
  color:$red;
  font-size:1.5em;
  font-weight:bold;
}

.dates {
  font-size:1.25em;
  color:$blue;
}

.booking.card.resa-img {
display: grid;
}
