.btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.btn-homepage {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #28527a;
  transition: background 0.3s ease;
  margin-top: 50px;
  text-decoration: none;
}

.btn-homepage:hover {
  background: #005F73;
  color: white;
}

.btn-homepage-signin {
  padding: 8px 24px;
  color: #28527a;
  margin-top: 20px;
  text-decoration: none;
  border: solid 1px #28527a;
  border-radius: 4px;
  width: 248px;
  background: white;
}

.btn-homepage-signin:hover {
  color: #005F73;
}