.footer {
  background: #28527a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #000000;
  opacity: 1;
}
.footer-copyright {
  color: white;
}