.homepage-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.homepage-banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 45px;
  font-weight: bold;
  text-align: center;
}

.homepage-banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}

.text-intro-hp {
  color: #000000;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}

.reassurance {
  text-align: center
}

.reassurance h4 {
  font-size: 14px;
  font-weight: bold;
}
