.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 8px;
  padding-bottom: 8px;
  position:sticky;
  top:0;
  z-index:100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  cursor:pointer;
  &:hover {
    opacity: 0.7;
  }
}

.logo .fas {
  color: $blue;
  font-size: 1.75em;
}

.fa-anchor {
  margin-right:20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $blue;
}

a.brand-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 20%;
    color:$blue;
}
