.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo .fas {

  font-size: 30px;

}

.logo {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;

}

p {
  font-size: 13px;
}
