.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo .fas {
  color: #28527a;
  font-size: 30px;
}

.logo {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: #28527a;
}

.logo p {
  font-size: 12px;
  margin-bottom: 0px;
}
